In [ ]:
# Import the necessary libraries

import pandas as pd
import sqlite3

**Reading a CSV file or a Excel file, we can simply use pd.read_csv() or pd.read_xlsx() to get the answer.**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Now we are given the response. We have to now execute the code and return the answer
df = pd.read_csv('/content/drive/MyDrive/CAAFE/heart.csv')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,no
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,yes
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,no
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,yes
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,no

**Now the next step is reading data from SQL Databases into a DataFrame**

In [ ]:
# We will first establish a connection with the database and then write a query to extract those rows from the table we want into a python dataframe.
conn = sqlite3.connect('your_database.db')
query = "SELECT * FROM your_table_name"
df = pd.read_sql(query, conn)
conn.close()

In [ ]:
import requests

response = requests.get(api_url)
data = response.json()
df = pd.DataFrame(data)